    /* src/index.css or src/globals.css */
@import "tailwindcss";

    /* Add your custom global styles below */
    body {
      font-family: Arial, sans-serif;
      color: #333;
      /* background-color: #bafdd5; */
    }

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }